<%= stylesheet_link_tag 'add_user', media: 'all', 'data-turbolinks-track': 'reload' %>

<div id="add_users">
  <p id="first_title">Пользователи компании <%= @company.name.upcase %>
    <br><br><br></p>
  <div class="input-wrapper" data-text="">
    <input id="my-input" type="text" placeholder="Найти...." >
  </div>
  <div id="list">
    <ul id="user-list" class="push">
      <%@users.each do |user| %>
        <li id="<%= rand(500) + 1 %>">
          <a href="#win1" onclick="show_user('<%= user.name %>', '<%= user.surname %> ',
            '<%= user.state%>', '<%= user.mood%>', '<%= user.info&.strip%>',
            '<%= user.role&.name%>', '<%= user.email%>',
            '<%= user.contacts.present? ? JSON.parse(user.contacts).to_a.map{|w| w.join('-')}.join('#') : '' %>',
            '<%= user.created_at.to_date.to_s.split('-').reverse.join('-') %>',
            '<%= user.avatar.attached? ? user.avatar.url : '' %>');">
            <span id="name"><%= user.name %></span>
            <span id="surname"><%= user.surname %></span>
            <span id="role_name"> - <%= user.role.name %></span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="submit submit-with-social for_position">
    <button name="submit_login" type="submit" id="menu4" class="log" >
      <a href="#win2">
        <span class="menu_text" id="menu_text4">Создать нового пользователя<b></b><b></b></span>
      </a>
    </button>
  </div>
</div>
<!----------------------------окно создания пользователя--------------------------------------------------------------->
<div class="dm-overlay" id="win2">
  <a href="#close" class="close_reg" id="close_reg"></a>
  <div id="block_registration" class="block">
    <div id="popup-login" class="popup popup-login" style="opacity: 1; display: block;">
      <p class="heading" id="heading">Новый пользователь</p>
      <form  id="popup-login-form3" class="pl-login form-required no-disable" name="newForm" onsubmit="send_form_new();return false">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <p class="error-message validate-error-hide validate-error-login message" id="reg_error"></p>
        <div class="login-input">
          <div class="login-loader"></div>
          <p>
            <input type="email" name="email" class="textInput" placeholder="Почта" required maxlength="50">
          </p>
          <p class="password">
            <input type="password" name="password" class="textInput" placeholder="Пароль" id="password-input"
                   autocomplete="new-password" required maxlength="50" minlength="6">
            <a href="#" class="password-control" onclick="return show_hide_password(this);"></a>
          </p>
          <p>
            <input type="password" name="password_confirmation" class="textInput"
                   placeholder="Повтор пароля" autocomplete="new-password" minlength="6" required maxlength="50">
          </p>
          <p>
            <input type="text" name="name" class="textInput required" placeholder="Имя" required maxlength="50">
          </p>
          <p>
            <input type="text" name="surname" class="textInput required" placeholder="Фамилия" required maxlength="50">
          </p>
          <p>
            <select name="role" required class="textInput required" placeholder="Должность" style="width: 270px">
              <option disabled>Выберите должность</option>
              <% @roles.each do |role| %>
                <option name="role" value="<%= role.id %>"><%= role.name %></option>
              <% end %>
            </select>
          </p>
        </div>
        <div class="submit submit-with-social">
          <button name="submit_login" type="submit" id="menu4" class="log">
            <span class="menu_text" id="menu_text4">Создать<b></b><b></b></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--------------------------------------------------------------------------------------------------------------------->
<script>
    document.addEventListener('keyup', function(event) {
        const wrapper = document.querySelector(".input-wrapper")
        wrapper.setAttribute("data-text", event.target.value);
        search_user();
    });

    function search_user() {
        el = document.getElementById("my-input")
        const searchFor = el.value.toLowerCase();
        const $rooms = $("#user-list"),
            $roomsList = $rooms.children();

        $roomsList.each(function () {
            const name = $(this).find("#name").text().toLowerCase();
            const surname = $(this).find("#surname").text().toLowerCase();
            const fullname = name + " " + surname;
            const reversename = surname + " " + name;

            if (name.includes(searchFor) || surname.includes(searchFor) ||
                fullname.includes(searchFor) || reversename.includes(searchFor)) {
                $(`#${this.id}`).show();
            } else {
                $(`#${this.id}`).hide();
            }
        });
    }

    function getRandomInt(max) {
        return Math.floor(Math.random() * max);
    }

    function show_user(name, surname, state, mood, info, role, mail, contacts, time, avatar) {
        document.getElementById('user_title').innerHTML = `Пользователь ${surname} ${name} ${role} ${state}`;
        document.getElementById('user-mood').innerHTML = `${mood}`;
        document.getElementById('info').innerHTML = `${info}`;
        document.getElementById('mail').innerHTML = `${mail}`;
        document.getElementById('time').innerHTML = `В YouCrm с ${time}`;
        contacts = contacts.split('#')
        document.getElementById('contact_list').innerHTML = ''

        if (contacts == '')
            return

        for(i = 0; i < contacts.length; i++) {
            site = contacts[i].split('-')[0]
            nick = contacts[i].split('-')[1]
            if (['telegram', 'slack' , 'whatsapp' , 'phone', 'github'].indexOf( site ) == -1)
                site2 = 'another'
            else
                site2 = site
            document.getElementById('contact_list').innerHTML += `<img class="icons" src="../assets/white-${site2}.svg"` +
                `title="${site}"> ${nick} <br>`;
        }

        value = getRandomInt(6)+1
        document.getElementById('user_avatar').src = `../assets/avatar${value}.jpeg`

        if (avatar !== ''){
            document.getElementById('user_avatar').src = avatar
        } else {
            value = getRandomInt(6)+1
            document.getElementById('user_avatar').src = `../assets/avatar${value}.jpeg`
        }
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<script>
  function send_form_new() {
      var email = document.forms.newForm.email.value;
      var name = document.forms.newForm.name.value;
      var surname = document.forms.newForm.surname.value;
      var password = document.forms.newForm.password.value;
      var password_confirmation = document.forms.newForm.password_confirmation.value;
      var token = document.forms.newForm.authenticity_token.value
      var role = document.forms.newForm.role.value
      var xhr = new XMLHttpRequest();

      xhr.open("POST", "/create.json")
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      body = 'email=' + encodeURIComponent(email) +
          '&name=' + encodeURIComponent(name) +
          '&surname=' + encodeURIComponent(surname) +
          '&password_confirmation=' + encodeURIComponent(password_confirmation) +
          '&password=' + encodeURIComponent(password) +
          '&role_id=' + encodeURIComponent(role) +
          '&authenticity_token=' + encodeURIComponent(token);

      xhr.onreadystatechange = function () {
          if (xhr.readyState == 4 && xhr.status == 200) {
              document.getElementById('reg_error').innerText = xhr.responseText;
              document.getElementById('reg_error').style.display = 'block'
              document.getElementById('block_registration').style.maxHeight = "650px";
              document.getElementById('block_registration').style.height = "650px";
              document.getElementById('close_reg').style.top = "130px";
          }
      }
      xhr.send(body)
      return false
  }

  function show_hide_password(target){
      var input = document.getElementById('password-input');

      if (input.getAttribute('type') == 'password') {
          target.classList.add('view');
          input.setAttribute('type', 'text');
      } else {
          target.classList.remove('view');
          input.setAttribute('type', 'password');
      }
      return false;
  }
</script>
