<%= stylesheet_link_tag 'menu_panel', media: 'all', 'data-turbolinks-track': 'reload' %>

<div id="menu">
  <a href="#win5" title="Создать новый тикет" class="aa"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#848484" class="bi bi-file-earmark-plus i_t" viewBox="0 0 16 16">
    <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
    <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
  </svg>
  </a>
  <a href="#win50" title="Создать нового клиента" class="aa"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#848484" class="bi bi-person-plus-fill i_t" viewBox="0 0 16 16">
    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
  </svg></a>
  <a onclick="show_close_tickets()" title="Закрытые тикеты" class="aa"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#848484" class="bi bi-eye-slash-fill i_t" viewBox="0 0 16 16">
    <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
    <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
  </svg></a>
  <a href="#win500" class="aa">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#848484" class="bi bi-sliders i_t" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
    </svg>
  </a>
  <a title="Отменить фильтры" onclick="sort_tickets(true)" class="aa">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#848484" class="bi bi-arrow-counterclockwise i_t" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
      <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
    </svg>
  </a>
</div>
<div class="dm-overlay" id="win5">
  <div class="dm-table">
    <div class="dm-cell">
      <div class="dm-modal2" id="add_ticket">
        <a href="#close" class="close"></a>
        <div class="info">
          <form name="ticketForm" onsubmit="create_ticket('<%= @company.type_product %>');return false">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <p>
              <input placeholder="Тема" class="textInput" type="text" maxlength="30" required name="subject">
            </p>
            <p>
              <textarea rows="2" class="textInput" placeholder="Описание" maxlength="200" name="description"></textarea>
            </p>
            <p>
              <% if @company.show_statuses %>
                <select  style="margin-right: 47px" placeholder="Статус" class="textInput" name="status">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <option selected disabled value="">Статус..</option>
                  <% Status.company(@company.id).each do |status| %>
                    <option value="<%= status.id %>"><%= status.title %></option>
                  <% end %>
                </select>
              <% end %>
              <% if @company.show_categories %>
                <select placeholder="Категория" class="textInput" name="category" >
                  <option selected disabled value="">Категория..</option>
                  <% Category.company(@company.id).each do |category| %>
                    <option value="<%= category.id %>"><%= category.title %></option>
                  <% end %>
                </select>
              <% end %>
            </p>
            <p>
              <input placeholder="Введите id или почту клиента..." required class="textInput" name="client">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <select placeholder="Менеджер" class="textInput" name="manager">
                <option selected disabled value="">Менеджер..</option>
                <% User.company(@company.id).each do |user| %>
                  <option value="<%= user.id %>"><%= user.full_name %></option>
                <% end %>
              </select>
            </p>
            <div id="a_add_order">
              <a onclick="show_block_product('block_<%= @company.type_product %>')" >ПРИКРЕПИТЬ ТОВАР</a>
            </div>
            <div id="block_product" class="hidden">
              <p>
                <input placeholder="Название" name="product_name" class="textInput" maxlength="30" type="text">
                <input placeholder="Тип товара" name="product_type" class="textInput" type="text" maxlength="30">
              </p>
              <p>
                <input placeholder="Дата" name="product_date" class="textInput" type="date">
                <input placeholder="Количество" class="textInput" type="number" name="product_number">
              </p>
              <p>
                <textarea rows="2" class="textInput" placeholder="Описание" maxlength="200" name="product_description"></textarea>
              </p>
              <p>
                <input placeholder="Цена" class="textInput" type="number" name="product_price">
                <input placeholder="Cкидка (в %)" class="textInput" type="number" name="product_discount">
              </p>
              <input placeholder="важность" class="textInput" type="checkbox" id="is_important" name="product_important">
              <label for="is_important" id="is_important_label">Важный заказ</label>
            </div>
            <div id="block_service" class="hidden">
              <p>
                <input placeholder="Название" class="textInput" maxlength="30" type="text" name="service_name">
                <input placeholder="Тип услуги" class="textInput" type="text" maxlength="30" name="service_type">
              </p>
              <p>
                <input placeholder="Дата" class="textInput" type="date" name="service_date">
                <input placeholder="Продолжительность" class="textInput" type="number" name="service_duration">
              </p>
              <p>
                <textarea rows="2" class="textInput" placeholder="Описание" maxlength="200" name="service_description"></textarea>
              </p>
              <p>
                <input placeholder="Цена" class="textInput" type="number" name="service_price">
                <input placeholder="Cкидка (в %)" class="textInput" type="number" name="service_discount">
              </p>
              <p>
                <input placeholder="важность" class="textInput" type="checkbox" id="is_important" name="service_important">
                <label for="is_important" id="is_important_label2">Важный заказ</label>
              </p>
              <p>
                <select placeholder="исполнитель" class="textInput" name="service_executor"></select>
              </p>
            </div>
            <div class="submit submit-with-social">
              <button name="submit_login" type="submit" id="menu3" class="log" title="Создать тикет">
                <span class="menu_text" id="menu_text3">Создать тикет<b></b><b></b></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dm-overlay" id="win50">
  <div class="dm-table">
    <div class="dm-cell">
      <div class="dm-modal2" id="block">
        <a href="#close" class="close"></a>
        <div class="info">
          <% if @company.type_client == Company::TYPE_CLIENTS.first.first.to_s %>
            <form name="humanForm" onsubmit="create_client('human'); return false">
              <span id="alert"></span>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <p>
                <input placeholder="Имя" class="textInput" type="text" maxlength="30" name="name">
                <input class="textInput" placeholder="Фамилия" type="text" maxlength="30" name="surname">
                <% if @company.client_fields.present? && JSON.parse(@company.client_fields).include?('patronymic') %>
                  <input class="textInput" placeholder="Отчество" type="text" maxlength="30" name="patronymic">
                <% end %>
              </p>
              <p>
                <% if @company.client_fields.present? && JSON.parse(@company.client_fields).include?('phone') %>
                  <input class="textInput" placeholder="Телефон" type="text" maxlength="12" name="phone"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <% end %>
                <% if @company.client_fields.present? && JSON.parse(@company.client_fields).include?('email') %>
                  <input class="textInput" class="textInput" placeholder="Почта" type="email" maxlength="30" name="email">
                <% end %>
              </p>
              <p>
                <% if @company.client_fields.present? && JSON.parse(@company.client_fields).include?('address') %>
                  <input class="textInput" placeholder="Адрес" type="text" maxlength="40" name="address">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <% end %>
                <% if @company.client_fields.present? && JSON.parse(@company.client_fields).include?('password') %>
                  <input class="textInput" placeholder="Паспорт" type="text" maxlength="10" name="password">
                <% end %>
              </p>
              <p>
                <% if @company.client_fields.present? && JSON.parse(@company.client_fields).include?('description') %>
                  <textarea rows="2" class="textInput" placeholder="Описание" maxlength="60" name="description"></textarea>
                <% end %>
              </p>
              <p>
                <% if @company.client_fields.present? && JSON.parse(@company.client_fields).include?('manager_id') %>
                  <select class="textInput" placeholder="Ответственный" name="manager_id">
                    <option selected disabled value="">Выберите менеджера</option>
                    <% @users.each do |user| %>
                      <option value="<%= user.id %>"><%= user.full_name %></option>
                    <% end %>
                  </select>
                <% end %>
              </p>
              <div class="submit submit-with-social">
                <button name="submit_login" type="submit" id="menu3" class="log">
                  <span class="menu_text" id="menu_text3">Создать клиента<b></b><b></b></span>
                </button>
              </div>
            </form>
          <% else %>
            <form name="clientCompanyForm" onsubmit="create_client('company'); return false">
              <span id="alert"></span>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <p>
                <input placeholder="Имя" class="textInput" type="text" maxlength="30" name="name">
              </p>
              <p>
                <% if @company.client_fields.present? && JSON.parse(@company.client_fields).include?('phone') %>
                  <input class="textInput" placeholder="Телефон" type="text" maxlength="12" name="phone"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <% end %>
                <% if @company.client_fields.present? && JSON.parse(@company.client_fields).include?('email') %>
                  <input class="textInput" class="textInput" placeholder="Почта" type="email" maxlength="30" name="email">
                <% end %>
              </p>
              <p>
                <% if @company.client_fields.present? && JSON.parse(@company.client_fields).include?('address') %>
                  <input class="textInput" placeholder="Адрес" type="text" maxlength="40" name="address">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <% end %>
                <% if @company.client_fields.present? && JSON.parse(@company.client_fields).include?('responsible') %>
                  <input class="textInput" placeholder="Паспорт" type="text" maxlength="10" name="responsible">
                <% end %>
              </p>
              <p>
                <% if @company.client_fields.present? && JSON.parse(@company.client_fields).include?('description') %>
                  <textarea rows="2" class="textInput" placeholder="Описание" maxlength="60"></textarea>
                <% end %>
              </p>
              <p>
                <% if @company.client_fields.present? && JSON.parse(@company.client_fields).include?('manager_id') %>
                  <select class="textInput" placeholder="Ответственный">
                    <option selected disabled value="">Выберите менеджера</option>
                    <% @users.each do |user| %>
                      <option value="<%= user.id %>"><%= user.full_name %></option>
                    <% end %>
                  </select>
                <% end %>
              </p>
              <div class="submit submit-with-social">
                <button name="submit_login" type="submit" id="menu3" class="log" title="Создать клиента">
                  <span class="menu_text" id="menu_text3">Создать клиента<b></b><b></b></span>
                </button>
              </div>
            </form>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dm-overlay" id="win500">
  <div class="dm-table">
    <div class="dm-cell">
      <div class="dm-modal2" id="block_sort">
        <a href="#close" class="close"></a>
        <div class="info">
          <form name="sortForm" onsubmit="sort_tickets();return false">
            <p>
              <% if @company.show_statuses %>
                <label>Статус</label>
                <select class="textInput" name="status_id">
                  <option disabled selected value="">Выберите статус</option>
                  <% Status.all.each do |status| %>
                    <option value="<%= status.id %>"><%= status.title %></option>
                  <% end %>
                </select>
              <% end %>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <% if @company.show_categories %>
                <label>Категория</label>
                <select class="textInput" name="category_id">
                  <option disabled selected="select" value="">Выберите категорию</option>
                  <% Category.all.each do |category| %>
                    <option value="<%= category.id %>"><%= category.title %></option>
                  <% end %>
                </select>
              <% end %>
            </p>
            <p>
              <label>Клиент</label>
              <select class="textInput" style="margin-right: 10px" name="client_id">
                <option selected disabled value="">Выберите клиента</option>
                <% if @company.type_client == Company::TYPE_CLIENTS.first.first.to_s %>
                  <% Client.company(@company.id).each do |user| %>
                    <option value="<%= user.id %>"><%= user.reverse_full_name %>(<%= user.email %>)</option>
                  <% end %>
                <% else %>
                  <% ClientCompany.company(@company.id).each do |user| %>
                    <option value="<%= user.id %>"><%= user.reverse_full_name %>(<%= user.email %>)</option>
                  <% end %>
                <% end %>
              </select>
              <label style="margin-left: 20px">Менеджер</label>
              <select class="textInput" name="manager_id">
                <option selected disabled value="">Выберите менеджера</option>
                <% @users.each do |user| %>
                  <option value="<%= user.id %>"><%= user.full_name %></option>
                <% end %>
              </select>
            </p>
            <p>
              <select class="textInput" id="long_select" name="date_id">
                <option value="1" selected>По дате создания(сначала новые)</option>
                <option value="2">По дате создания(сначала старые)</option>
                <option value="3">По дате заказа(сначала новые)</option>
                <option value="4">По дате заказа(сначала старые)</option>
              </select>
            </p>
            <div class="submit submit-with-social">
              <button name="submit_login" type="submit" id="menu3" class="log">
                <span class="menu_text" id="menu_text3">Сортировать<b></b><b></b></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
