<%= stylesheet_link_tag 'crm_settings', media: 'all', 'data-turbolinks-track': 'reload' %>

<div id="settings_crm">
  <div id="button_section">
    <button id="but_1" onclick="show('add_email');set_focus(this)" class="active_but">Добавить почту</button>
    <button id="but_2" onclick="show('change_company_avatar');set_focus(this)" class="active_but">Изменить логотип</button>
    <button id="but_3" onclick="show('');set_focus(this)" class="active_but">Управление шаблонами</button>
    <button id="but_4" onclick="show('');set_focus(this)" class="active_but">Настроить клиента</button>
    <button id="but_5" onclick="show('');set_focus(this)" class="active_but">Настроить продукцию</button>
  </div>
  <hr class="hr-shelf">
  <div id="add_email" class="hidden">
    <span id="span">Почта для взаимодействия с клиентами</span>
    <div id="company_mail">
      <form name="emailForm" class="feedback-form-1" id="emailForm" onsubmit="add_email();return false">
        <div id="alert"></div>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <p>
          <input class="textInput" name="email" type="email" placeholder="Email..."
                 value="<%= @company.email %>" id="email" autocomplete="new-password">
        </p>
        <p class="password">
          <input type="password" name="password" class="textInput" placeholder="Пароль..." id="password-input"
                 autocomplete="new-password" required value="<%= ApplicationController.new.crypt.decrypt_and_verify(@company.password) %>">
          <a href="#" class="password-control" onclick="return show_hide_password(this);"></a>
        </p>
        <section class="pen check" title="Получать и обрабатывать письма">
          <span class="container">
            <input type="checkbox" style="opacity:0" class="ubuntu-touch" name="send" id="send" value="true"
                   <% if @company.is_send %> checked <% end %> >
            <label for="ubuntu-touch" class="state"></label>
            <label for="ubuntu-touch" class="switch"></label>
          </span>
        </section>
        <div class="submit submit-with-social" id="am_but">
          <button name="submit_login" id="menu3" class="log" type="submit">
            <span class="menu_text" id="menu_text3">Сохранить<b></b><b></b></span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div id="change_company_avatar" class="hidden">
    <form method="post" action="/update_company_avatar" enctype="multipart/form-data">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <div>
        <div style="display: flex">
          <div class="example-1">
            <div class="form-group">
              <label class="label" id="label">
                <% if @current_user.company.avatar.attached? %>
                  <img src="<%= @current_user.company.avatar.url %>" id="img">
                <% else %>
                  <img src="../assets/avatar1.jpeg" id="img" href="#win1">
                <% end %>
                <input type="file"name="avatar" id="avatar" value="<%= @current_user.company.avatar.url %>"
                       onchange="alert_about_photo(this)">
              </label>
            </div>
          </div>
        </div>
        <div id="but_and_check">
          <span id="span_litle">Отображать логотип на главной странице и иконке сайта</span>
          <section class="pen check" title="Получать и обрабатывать письма">
            <span class="container">
              <input type="checkbox" style="opacity:0" class="ubuntu-touch" name="is_show_avatar"
                     value="true" <% if @company.is_show_avatar %> checked <% end %> >
              <label for="ubuntu-touch" class="state" id="state2" ></label>
              <label for="ubuntu-touch" class="switch"></label>
            </span>
          </section>
          <div class="submit submit-with-social" id="am_but">
            <button name="submit_login" id="menu3" class="log" type="submit">
              <span class="menu_text" id="menu_text3">Сохранить<b></b><b></b></span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  function show(name) {
      document.getElementById(name).classList.toggle("hidden");
  }

  function add_email(){
      var email = document.forms.emailForm.email.value;
      var password = document.forms.emailForm.password.value;
      var send = !!document.forms.emailForm.send.checked
      var token = document.forms.emailForm.authenticity_token.value;

      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/add_email.json");
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

      body = 'email=' + encodeURIComponent(email) +
          '&password=' + encodeURIComponent(password) +
          '&send=' + encodeURIComponent(send) +
          '&authenticity_token=' + encodeURIComponent(token);

      xhr.onreadystatechange = function (){
          if (xhr.readyState == 4 && xhr.status == 200) {
              document.getElementById("alert").innerHTML = xhr.responseText;
          }
      }
      xhr.send(body)
  }

  function set_focus(el) {
      for(i=1; i<6; i++){
          document.getElementById(`but_${i}`).classList.remove("i_active");
      }
      el.classList.add("i_active");
  }

  function alert_about_photo(input){
      if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function(e) {
              document.getElementById('img').src = e.target.result;
          }

          reader.readAsDataURL(input.files[0]);
      }
  }
</script>

