<%= stylesheet_link_tag 'settings', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= render 'menu' %>

<div class="main" id="main">
  <div class="nothing_selected">Выберите нужную категорию</div>
</div>

<div id="block1" class="hidden">
  <%= render 'add_user' %>
</div>

<div id="block3" class="hidden">
  <%= render 'prava' %>
</div>

<div id="block6" class="hidden">
  <%= render 'settings_crm' %>
</div>

<div id="block5" class="hidden">
  <%= render 'wall' %>
</div>

<div id="block4" class="hidden">
  <%= render 'tasks' %>
</div>

<div id="block2" class="hidden">
  <%= render 'profile' %>
</div>
<!----------------------------окно пользователя------------------------------------------------------------------------------->
<div class="dm-overlay" id="win10">
  <div class="dm-table">
    <div class="dm-cell">
      <div class="dm-modal">
        <a href="#close" class="close"></a>
        <h3 id="user_title"></h3>
        <div class="pl-left info">
          <img src="../assets/avatar<%= rand(5) + 1 %>.jpeg" id="user_avatar">
        </div>
        <div class="info">
          <div>
            <p id="user-mood"></p>
            <p id="info"></p>
            <p id="time"> В YouCRM уже 1000 дней</p>
          </div>
          <div id="contacts">
            <img src="../assets/white-gmail.svg" class="icons">
            <span id="mail"></span><br>
            <span id="contact_list"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--------------------------------------------------------------------------------------------------------------------->
<script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
