<h1>ВЫ вошлииииии</h1>
<div id="messages"></div>
<br>
<%= form_for :message, url: messages_path, remote:true, id: 'messages-form' do |form| %>
  <%= form.label :body, 'Введите сообщение' %>
  <br>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= form.text_field :body %>
  <%= form.submit 'Отправить' %>
<% end %>



<script type="text/coffeescript">
  @App = {}
  App.cable = Cable.createConsumer 'ws://127.0.0.1:28080'

  App.messages = App.cable.subscriptions.create 'MessagesChannel',
    received: (data) ->
      $('#messages').append @renderMessage(data)

    renderMessage: (data) ->
      "<p><b>[#{data.username}]:</b> #{data.message}</p>"
</script>
