<%= stylesheet_link_tag 'add_user', media: 'all', 'data-turbolinks-track': 'reload' %>

<div id="add_users">
  <% if @current_user.role.the_role.present? && JSON.parse(@current_user.role.the_role).include?('show_users') %>
    <p id="first_title">Пользователи компании <%= @company.name %>
      <br><br><br></p>
    <div class="input-wrapper" data-text="">
      <input id="my-input" type="text" placeholder="Найти...." >
    </div>
    <div id="list">
      <ul id="user-list" class="push">
        <%@users.each do |user| %>
          <li id="<%= rand(500) + 1 %>">
            <a href="#win10" onclick="show_user('<%= user.name %>', '<%= user.surname %> ',
              '<%= user.state%>', '<%= user.mood%>', '<%= user.info&.strip%>',
              '<%= user.role&.name%>', '<%= user.email%>',
              '<%= user.contacts.present? ? JSON.parse(user.contacts).to_a.map{|w| w.join('-')}.join('#') : '' %>',
              '<%= user.created_at.to_date.to_s.split('-').reverse.join('-') %>',
              '<%= user.avatar.attached? ? user.avatar.url : '' %>');">
              <span id="name"><%= user.name %></span>
              <span id="surname"><%= user.surname %></span>
              <span id="role_name"> - <%= user.role.name %></span>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <div class="nothing_selected">У вас нет прав для просмотра пользователей компании</div>
  <% end %>
  <% if @current_user.role.the_role.present? && JSON.parse(@current_user.role.the_role).include?('add_users') %>
    <div class="submit submit-with-social for_position">
      <button name="submit_login" type="submit" id="menu4" class="log" >
        <a href="#win2">
          <span class="menu_text" id="menu_text4">Создать нового пользователя<b></b><b></b></span>
        </a>
      </button>
    </div>
    </div>
  <% end %>
<!----------------------------окно создания пользователя--------------------------------------------------------------->
<div class="dm-overlay" id="win2">
  <a href="#close" class="close_reg" id="close_reg"></a>
  <div id="block_registration" class="block">
    <div id="popup-login" class="popup popup-login" style="opacity: 1; display: block;">
      <p class="heading" id="heading">Новый пользователь</p>
      <form  id="popup-login-form3" class="pl-login form-required no-disable" name="newForm" onsubmit="send_form_new();return false">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <p class="error-message validate-error-hide validate-error-login message" id="reg_error"></p>
        <div class="login-input">
          <div class="login-loader"></div>
          <p>
            <input type="email" name="email" class="textInput" placeholder="Почта" required maxlength="50">
          </p>
          <p class="password">
            <input type="password" name="password" class="textInput" placeholder="Пароль" id="password-input"
                   autocomplete="new-password" required maxlength="50" minlength="6">
            <a href="#" class="password-control" onclick="return show_hide_password(this);"></a>
          </p>
          <p>
            <input type="password" name="password_confirmation" class="textInput"
                   placeholder="Повтор пароля" autocomplete="new-password" minlength="6" required maxlength="50">
          </p>
          <p>
            <input type="text" name="name" class="textInput required" placeholder="Имя" required maxlength="50">
          </p>
          <p>
            <input type="text" name="surname" class="textInput required" placeholder="Фамилия" required maxlength="50">
          </p>
          <p>
            <select name="role" required class="textInput required" placeholder="Должность" style="width: 270px">
              <option disabled>Выберите должность</option>
              <% @roles.each do |role| %>
                <option name="role" value="<%= role.id %>"><%= role.name %></option>
              <% end %>
            </select>
          </p>
        </div>
        <div class="submit submit-with-social">
          <button name="submit_login" type="submit" id="menu4" class="log">
            <span class="menu_text" id="menu_text4">Создать<b></b><b></b></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<script src="../assets/add_user.js"></script>
