<%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track': 'reload' %>

<header id="header" class="header w">
  <div class="header__inner" style="flex-direction: row-reverse">
    <a href="#header" data-target="toggle" class="header__door button2 button3">
      <nav class="four">
        <ul class="topmenu">
          <li><a href="#">
            <div class="qqq">
              <div class="aaa">
                <% if @current_user.avatar.attached? %>
                  <img src="<%= @current_user.avatar.url %>" class="www" width="70" height="50" id="for_scale">
                <% else %>
                  <img class="www" src="../assets/avatar<%= rand(5) + 1 %>.jpeg">
                <% end %>
                <span id="my_name"><%= @current_user.name %> <%= @current_user.surname %></span>
              </div>
              <div id="my_icon">
                <img src="../assets/arrow.svg">
              </div>
              <div id="my_bot"></div>
            </div>
          </a>
            <ul class="submenu">
              <li><a class="a" href="/settings">Настройки</a></li>
              <li><a class="a" href="/admin">Админка</a></li>
              <li><a class="a" href="/admin/analytics?date=1">Аналитика</a></li>
              <li><a class="a" href="/destroy">Выход</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </a>
    <a href="/" id="title"><%= @company.name %></a>
    <% if @current_user&.company&.avatar&.attached? && @current_user.company.is_show_avatar %>
      <img src="<%= @current_user.company.avatar.url %>" id="img" class="www" width="70" height="50">
    <% end %>
  </div>
</header>
<div id="uploading">
  <span style="font-size: 30px">Загружаем аналитику</span><br>
  <img src="../assets/loading.gif" width="250px" height="200px"></div>
<div id="block_date_vusualisation">
<div id="date_block">
<form>
  <p>
    <label>Укажите временной промежуток</label><br>
    <input type="date" name="from" value="<%= @range_start %>">&nbsp;&nbsp;-&nbsp;&nbsp;
    <input type="date" name="to" value="<%= @range_end %>">
  </p>
  <div style="text-align: left; margin-left: 145px">
  <p>
    <input type="radio" name="date" value="1" <% if @date == '1' %> checked <%end %>>
    <label>Этот месяц</label>
  </p>
  <p>
    <input type="radio" name="date" value="2" <% if @date == '2' %> checked <%end %>>
    <label>Это год</label>
  </p>
  <p>
    <input type="radio" name="date" value="3" <% if @date == '3' %> checked <%end %>>
    <label>Это неделя</label>
  </p>
    <p>
    <input type="radio" name="date" value="4" <% if @date == '4' %> checked <%end %>>
    <label>Сегодня</label>
  </p>
  <button type="submit" id="reload_but">
    <svg id="reload" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#848484" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
      <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
    </svg>
  </button>
  </div>
</form>
</div>
  <div id="visualisation_block">
    <span style="font-weight: bold; margin-left: 50px">Не показывать блоки</span>
    <form id="visualisation_form">
      <div>
        <p>
          <input type="checkbox" onclick="hidden_block('piechart', this)">
          <label>Диаграмма выручки конкретного менеджера</label>
        </p>
        <p>
          <input type="checkbox" onclick="hidden_block('columnchart_values', this)">
          <label>Количество созданных товаров</label>
        </p>
        <p>
          <input type="checkbox" onclick="hidden_block('table', this)">
          <label>Общая статистика за месяц</label>
        </p>
        <p>
          <input type="checkbox" onclick="hidden_block('barchart_values', this)">
          <label>Распределение тикетов по категориям</label>
        </p>
      </div>
      <div>
        <p>
          <input type="checkbox" onclick="hidden_block('barchart_values2', this)">
          <label>Распределение тикетов по статусам</label>
        </p>
        <p>
          <input type="checkbox" onclick="hidden_block('curve_chart', this)">
          <label>Выручка по месяцам</label>
        </p>
        <p>
          <input type="checkbox" onclick="hidden_block('piechart2', this)">
          <label>Выручка в зависимости от категории тикета</label>
        </p>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable(JSON.parse("<%= @manager_analytics %>".replace(/&quot;/g, '"')))

        var options = {
            legend: 'none',
            pieSliceText: 'label',
            title: 'Диаграмма выручки конкретного менеджера',
            pieStartAngle: 100,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }
</script>
<div style="display: flex">
  <div id="piechart" style="width: 900px; height: 500px; margin-left: 35px" class="<%= Ticket.company(@company.id).present? %>"></div>
  <div style="border: 1px solid grey; margin-left: 50px">
    <div id="columnchart_values" style="max-width: 900px; max-height: 600px; width: 600px; border-right: 1px solid grey;" class="<%=  %>"></div>
  </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        if ("<%= @order_count %>" == "[]") {
            document.getElementById("columnchart_values").innerText = 'Нет данных'
            document.getElementById("columnchart_values").style.textAlign = 'center'
            document.getElementById("columnchart_values").style.fontWeight = 'bold'
            document.getElementById("columnchart_values").style.marginTop = '100px'
            return
        }
        var data = google.visualization.arrayToDataTable([["Товар", "Количество", { role: "style" } ]].concat(JSON.parse("<%= @order_count %>".replace(/&quot;/g, '"'))));

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            { calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation" },
            2]);

        var options = {
            title: "Количество созданных товаров",
            width: 600,
            height: 400,
            bar: {groupWidth: "95%"},
            legend: { position: "none" },
        };
        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
        chart.draw(view, options);
    }
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['table']});
    google.charts.setOnLoadCallback(drawTable);

    function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Категория');
        data.addColumn('number', 'Значение');
        data.addRows(JSON.parse("<%= @general_statics %>".replace(/&quot;/g, '"')));

        var table = new google.visualization.Table(document.getElementById('table_div'));

        table.draw(data, {showRowNumber: true, width: '70%', height: '100%'});
    }
</script>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="table" style="margin-top: -120px"  class="<%= Ticket.company(@company.id).present? %>">
  <span id="table_span" style="font-weight: bold; margin-left: 450px">Общая статистика за месяц</span>
  <div id="table_div"></div>
</div>
<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        if ("<%= @order_count %>" == "[]") {
            document.getElementById("barchart_values").innerText = 'Нет данных'
            document.getElementById("barchart_values").style.textAlign = 'center'
            document.getElementById("barchart_values").style.fontWeight = 'bold'
            document.getElementById("barchart_values").style.marginTop = '100px'
            return
        }
        var data = google.visualization.arrayToDataTable([["Категория", "Количество тикетов", { role: "style" } ]].concat(JSON.parse("<%= @ticket_categories_statistics %>".replace(/&quot;/g, '"'))));

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            { calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation" },
            2]);

        var options = {
            title: "Распределение тикетов по категориям",
            width: 550,
            height: 400,
            bar: {groupWidth: "95%"},
            legend: { position: "none" },
        };
        var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
        chart.draw(view, options);
    }
</script>
<div style="display: flex; margin-top: 50px; margin-bottom: 50px; background: white">
  <div id="barchart_values" style="width: 500px; height: 400px; margin-left: 200px" class="<%= Ticket.company(@company.id).present? %>"></div>
  <div id="barchart_values2" style="width: 400px; height: 400px; margin-left: 300px" class="<%= Ticket.company(@company.id).present? %>"></div>
</div>
<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        if ("<%= @order_count %>" == "[]") {
            document.getElementById("barchart_values2").innerText = 'Нет данных'
            document.getElementById("barchart_values2").style.textAlign = 'center'
            document.getElementById("barchart_values2").style.fontWeight = 'bold'
            document.getElementById("barchart_values2").style.marginTop = '100px'
            return
        }
        var data = google.visualization.arrayToDataTable([["Статус", "Количество тикетов", { role: "style" } ]].concat(JSON.parse("<%= @ticket_status_statistics %>".replace(/&quot;/g, '"'))));

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            { calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation" },
            2]);

        var options = {
            title: "Распределение тикетов по статусам",
            width: 600,
            height: 400,
            bar: {groupWidth: "95%"},
            legend: { position: "none" },
        };
        var chart = new google.visualization.BarChart(document.getElementById("barchart_values2"));
        chart.draw(view, options);
    }
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([['Дата', 'Выручка']].concat(JSON.parse("<%= @revenue_by_month %>".replace(/&quot;/g, '"'))));

        var options = {
            title: 'Выручка по месяцам',
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
    }
</script>
<div style="display: flex">
  <div id="curve_chart" style="width: 900px; height: 500px"></div>
  <div id="piechart2" style="width: 900px; height: 500px;" class="<%= Ticket.company(@company.id).present? %>"></div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable(JSON.parse("<%= @revenues_in_category %>".replace(/&quot;/g, '"')))

        var options = {
            legend: 'none',
            pieSliceText: 'label',
            title: 'Выручка в зависимости от категории тикета',
            pieStartAngle: 100,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart2'));
        chart.draw(data, options);
    }
</script>
<script>

    setTimeout(hidden_uploading_image, 1700)
  function hidden_uploading_image() {
      document.getElementById('uploading').style.display = 'none'
  }
  function hidden_block(name, el){
        if (el.checked) {
            document.getElementById(name).style.display = 'none'
        } else {
            document.getElementById(name).style.display = 'block'
        }
  }
</script>
<style>
    body {
        background-image: url("../assets/back.png") !important;
    }

    #piechart {
        border: 1px solid grey;
        display: inline-block;
    }

    #table_div {
        margin-left: 25%;
        margin-top: 25px;
    }

    #table_span {
        margin-left: 25%;
    }

    #uploading {
        width: 1700px !important;
        height: 1000px !important;
        position: absolute;
        text-align: center;
        z-index: 1;
        background: white;
        padding-top: 15%;
        background-image: url("../assets/back.png") !important;
    }

    #date_block {
        display: inline-block !important;
        border: 2px solid grey;
        padding: 15px;
        box-shadow: 0 0 15px;
        border-radius: 5px;
        margin: 50px 50px 50px 10%;
        width: 600px;
        height: 290px;
        text-align: center;
    }

    #visualisation_block {
        display: inline-block !important;
        border: 2px solid grey;
        padding: 15px;
        margin: 50px 50px 50px 10%;
        box-shadow: 0 0 15px;
        border-radius: 5px;
    }

    #visualisation_form {
        display: flex;
    }

    .false {
        display: none !important;
    }

    #block_date_vusualisation {
        display: flex;
    }

    #reload:hover {
        fill: black;
    }

    #reload_but {
        background: inherit;
        border: none;
        position: relative;
        left: 300px;
        bottom: 50px;
    }
</style>
