<!DOCTYPE html>
<html>
  <head>
    <title><%= @company.present? ? "YouCRM | #{@company.name}" : "YouCRM"%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if @current_user&.company&.avatar&.attached? && @current_user.company.is_show_avatar %>
      <link rel="shortcut icon" type="image/x-icon" href="<%= @current_user.company.avatar.url %>" >
    <% else %>
      <link rel="shortcut icon" type="image/x-icon" href="/assets/icons.svg" >
    <% end %>

    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
